# ----------------------------------------------------------------------
#
# Configure mappings with wanted hostname and a docker port
#
# SYNTAX
# Hostname:port
# ----------------------------------------------------------------------

myapp1.docker:8000
myapp2.docker:8001

# ----------------------------------------------------------------------
